   <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i>Home Page</a></li>
                    <li class="breadcrumb-item"><a href="#">Orders</a></li>
                    <li class="breadcrumb-item active">Order list</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Orders</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="keyword"  placeholder="Keyword">
                        <span class="input-group-append">
                            <button class="btn btn-default" type="button" ng-click="search()" id="btnGroupAddon">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger" type="button" ng-click="deleteMultiple()" id="btnDelete" style="margin-bottom:5px" disabled="disabled">Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td><label><input name="all" type="checkbox" ng-click="selectAll()" /></label></td>
                                <th style="width: 5%">Id</th>
                                <th style="width: 20%">Customer name</th>
                                <th style="width: 25%">Address</th>
                                <th style="width: 10%">Phone</th>
                                <th style="width: 15%">Created date</th>
                                <th style="width: 15%">Payment method</th>
                                <th style="width: 10%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in orders">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{item.Id}}</td>
                                <td>{{item.CustomerName}}</td>
                                <td>{{item.CustomerAddress}}</td>
                                <td>{{item.CustomerMobile}}</td>
                                <td>{{item.CreatedDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td>{{item.PaymentMethod}}</td>
                                <!-- class="badge bg-danger-->                              
                                <td>
                                    <button class="btn btn-sm btn-primary" ui-sref="order_details({id:item.Id})">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteOrder(item.Id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <span class="pull-right">Page: {{page+1}} -- Total records: {{totalCount}}</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <pager-directive  page="{{page}}"
                                 custom-path="{{customPath}}"
                                 pages-count="{{pagesCount}}"
                                 total-count="{{totalCount}}"
                                 search-func="getOrders(page)">
                </pager-directive>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </div>
</section>
<!-- /.content -->