<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="12"/>
  <add key="MaxPage" value="5"/>

  <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="tiennm1999@gmail.com"/>
  <add key="FromEmailPassword" value="tiendeptrai"/>
  <add key="FromName" value="Teleworld Electronics"/>
  <add key="AdminEmail" value="17145370@student.hcmute.edu.vn"/>
  <add key="CurrentLink" value="https://localhost:44385/"/>
  <add key="EnableBundles" value="false"/>

  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="65090"/>
  <add key="MerchantPassword" value="9d84b1f6673a129ba18a05f01c913553"/>
  <add key="MerchantEmail" value="tiennm1999@gmail.com"/>

  <add key="ReportFolder" value="/Reports"/>
</appSettings>
