<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Contact Information</h1>
    <p>Name: {{Name}}</p>
    <p>Email: {{Email}}</p>
    <p>Message: {{Message}}</p>
    <p>Content: {{OrderContent}}</p>
    <br />
    <br />
    <p>
        Thank you and Warmest Regards,
        NGUYỄN MẠNH TIẾN - ADMINISTRATOR OF TELEWORLD ELECTRONICS
        Ho Chi Minh University of Technology and Education
        1st Vo Van Ngan, Thu Duc District, Ho Chi Minh City, Vietnam
        T  +84 362537131
    </p>
</body>
</html>
