
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/UserLayouts.cshtml";
}

@section footerJS{
    <script src="~/Assets/client/js/controllers/userOrders.js"></script>
}

<div class="user-orders-container">
    <div class="heading">My orders</div>
    <div class="inner" >
        <table id="purchaseHistoryTable">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Purchase date</th>
                    <th>Product</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

