@using Microsoft.AspNet.Identity;

<aside class="user-info-sidebar">
    <div class="sidebar-avatar">
        <img alt="avatar" src="~/Assets/client/images/user_icon.png" />
        <div class="user__info">
            <strong>My account</strong>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li>
            <a href="/info.html">
                <img class="sidebar-nav__icon" src="~/Assets/client/images/user.png" />
                <span>Information</span>
            </a>
        </li>
        <li>
            <a href="/orders/history.html">
                <img class="sidebar-nav__icon" src="~/Assets/client/images/order.png" />
                <span>Orders management</span>
            </a>
        </li>
    </ul>
</aside>