@model IEnumerable<TeleworldShop.Web.Models.ProductCategoryViewModel>

<div class="header__categories">
    <div class="container">
        <ul class="main-menu">
            @foreach (var category in Model.Where(x => x.ParentId == null && x.Status == true))
            {
                var url = "/" + category.Alias + ".pc-" + category.Id + ".html";
                <li>
                    <a href="@url">
                        <span>@category.Name</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
