
@{
    ViewBag.Title = "Cancel Order";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div style="margin-top:200px" class="single_top">
    <div class="single_grid">
        <h1>Order has been canceled</h1>
        <p>Cancel order successfully from NganLuong. Please <a href="/">click here</a> to go back to Home Page.</p>
        <div class="clearfix"> </div>
    </div>
</div>
