  <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Import product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home Page</a></li>
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item"><a ui-sref="products">Product list</a></li>
                    <li class="breadcrumb-item active">Import product</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header with-border">
            <h3 class="card-title">Import product</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmImportProduct" role="form" ng-submit="ImportProduct()">
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Choose an Excel file</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="file" required />
                        <span ng-show="frmImportProduct.file.$invalid" class="has-error">No file chosen</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="categoryId" ng-options="option.Id as option.Name for option in flatFolders">
                            <option value="">Category</option>
                        </select>
                        <span ng-show="frmImportProduct.categoryId.$invalid" class="has-error">No category chosen</span>

                        <input type="hidden" class="form-control" name="categoryId" ng-model="categoryId" />
                    </div>
                </div>
                
            </div><!-- /.box-body -->
              <div class="card-footer">
                <button type="submit" ng-disabled="frmImportProduct.$invalid" class="btn btn-success">Save</button>
                <button ui-sref="products" class="btn btn-default float-md-right">Cancel</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->